﻿@model MVCCRUDDemo.Genre

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>Genre</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.GenreName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.GenreName)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.GenreId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <ul>
       @foreach (MVCCRUDDemo.Movie m in Model.Movies)
       {
           <li>@m.MovieName</li>
       }
    </ul>
</body>
</html>
