﻿@model MVCCRUDDemo.Genre

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Genre</legend>
    
            @Html.HiddenFor(model => model.GenreId)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.GenreName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GenreName)
                @Html.ValidationMessageFor(model => model.GenreName)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
