﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="menu">
        <a href="../Home/Index">Home</a>
        <a href="../Login/Index">Login</a>
        <a href="../Signup/signup">Sinup</a>

        welcome to home

    </div>
</body>
</html>
