﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table border ="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
            @foreach(PersonADONet.Controllers.Person p in ViewBag.Table)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Email</td>
                    <td>@p.Age</td>
                </tr>
            }   
        </table>
                    
    </div>
</body>
</html>
