﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div>
        <div>
        <table border ="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
            @foreach(System.Data.DataRowView  p in ViewBag.Table)
            {
                <tr>
                    <td>@p["Id"]</td>
                    <td>@p["Name"]</td>
                    <td>@p["Email"]</td>
                    <td>@p["Age"]</td>
                </tr>
            }   
        </table>
                    
    </div>
    </div>
</body>
</html>
