﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap-custom-theme.css">
    <script src="~/Scripts/bootstrap.min.js" ></script>

</head>
<body>
    <div id="menu">
        <a href="../Home/Index">Home</a>
        <a href="../Login/Index">Login</a>
        <a href="../Signup/signup">Sinup</a>

        welcome to Login

    </div>
<div>
    <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-info">
            <div class="panel-heading">
                <b>LogIn</b>
            </div>
            <div class="panel-body">
                <form method="post" class="form">
                    <div class="form-group">
                        <label for="uname">UserName</label>
                        <input type="text" name="UserName" id="uname" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" name="Password" id="pass" class="form-control"/>
                        <a href="#">Forget Password</a>
                        <button class="btn btn-primary pull-right">Login<span class="glyphicon glyphicon-log-in"></span></button>
                    </div>
                    @if (TempData["error"] != null)
                    {
                        <div class="alert alert-danger">
                            <label>@TempData["error"]</label>
                        </div>
                    }


                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>
