﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class ="col-md-6 col-md-offset-3">

        <div class ="panel panel-info">
            <div class="panel-heading">
                <b>LogIn</b>
            </div>
            <div class ="panel-body">
                <form method ="post" class="form">
                    <div class ="form-group">
                        <label for="uname">UserName</label>
                        <input type="text" name="UserName" id= "uname" class="form-control"/>
                    </div>
                    <div class ="form-group">
                        <label for="pass">Password</label>
                        <input type="password" name="Password" id= "pass" class="form-control"/>
                        <a href="#">Forget Password</a>
                        <button class="btn btn-primary pull-right">Login<span class="glyphicon glyphicon-log-in"></span></button>
                    </div>
                    
                        @if (TempData["error"] != null)
                        {
                            <div class ="alert alert-danger">
                                <label>@TempData["error"]</label>
                            </div>
                        }
                </form>

            </div>            
        </div>
    </div>
</body>
</html>
