﻿<html>
    <head>
        <title>
            Index
        </title>
    </head>
    <body>
        <div>
            <table border ="1">
                <tr>
                    <th>DepartmentId</th>
                    <th>DepartmentName</th>
                </tr>
                @*By using the context Object*@
               
           </table>
            <br />
                
            
            <table border ="1">
                <tr>
                    <th>FacultyId</th>
                    <th>FacultyName</th>
                </tr>
                @*By using the Faculty List*@
                @foreach (EF_CF_Demo.Controllers.Faculty f in ViewBag.contextObj.Faculties)
                {
                    <tr>
                        <td>@f.FacultyId</td>
                        <td>@f.FacultyName</td>
                    </tr>
                }
           </table>
            <br />
            <table border ="1">
                <tr>
                    <th>CourseCode</th>
                    <th>CourseName</th>
                    <th>Credit</th>
                </tr>
                @*By using the Course List*@
                @foreach (EF_CF_Demo.Controllers.Course c in ViewBag.contextObj.Courses)
                {
                    <tr>
                        <td>@c.CourseCode</td>
                        <td>@c.CourseName</td>
                        <td>@c.Credit</td>
                    </tr>
                }
           </table>
            <br />
        </div>
    </body>
</html>