﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table border ="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phn</th>
            </tr>
            @foreach (SchemaFirstMVC.Customer c in ViewBag.customerTable)
            {
                <tr>
                    <td>@c.CusomerId</td>
                    <td>@c.CustomerName</td>
                    <td>@c.Address</td>
                    <td>@c.PhoneNumber</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
