﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Click Here Login", "Index", "Login")
        @Html.ActionLink("Customer Registration", "Create", "Registration")
    </div>
</body>
</html>
