﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
     <nav class="navbar">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Home">MDB</a>
        </div> 
        <ul class="nav navbar-nav">
             <li><a href="/Home">Home</a></li>
             <li><a href="/Genre">Genre</a></li>
             <li><a href="/Movie">Movie</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/Login/Logout"><span class="glyphicon glyphicon-user"></span> Logout [@Session["uname"].ToString()]</a></li>
        </ul>
        </div>
    </nav> 

    <div class="container">

    </div>

</body>
</html>
