﻿@model SampleEntity.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Employee</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.EmployeeName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmployeeName)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.PhoneNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Salary)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Salary)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Type)
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
     @Html.ActionLink("Logout", "Logout", "Login")

</body>
</html>
