﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form method ="post" >
                        <label for="UserId">UserId</label>
                        <input type="text" name="UserId" id= "uid" class="form-control"/>
            <br />
                        <label for="Password">Password</label>
                        <input type="password" name="Password" id= "pass" class="form-control"/>
            <br />      
                  <a href="#">Forget Password</a>
                        <button >Login</button>
                    
                        @if (TempData["error"] != null)
                        {
                            
                                <label>@TempData["error"]</label>
                            
                        }

        </form>
        @Html.ActionLink("Home", "Index", "Home")
    </div>
    <div>
        @if (TempData["id"] != null)
        {
            <label>
                User Created with ID= @TempData["id"]
            </label>
        }
    </div>

</body>
</html>
