﻿@model MVCCRUDDemo.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Movie</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.MovieName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MovieName)
                @Html.ValidationMessageFor(model => model.MovieName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Year)
            </div>
            <div class="editor-field">
                <select name="Year">
                    @for (int i = 1999; i < 2018; i++)
                    {
                        <option>@i</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Year)
            </div>
    
            <div>
                @foreach (MVCCRUDDemo.Genre g in (IEnumerable<MVCCRUDDemo.Genre>)ViewBag.GenreList)
                {
                    <input type="checkbox" value="@g.GenreId" name="genre" /> @g.GenreName
                }
            </div>
         
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
